<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Developement">
        <link href="~/lib/bootstrap/css/bootstrap.css.map" rel="stylesheet"/>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    </environment> 
    <environment exclude="Devlopment" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous"
        asp-fallback-href = "~/lib/bootstrap/css/bootstrap.min.css"
        asp-fallback-test-class = "sr-only"
        asp-fallback-test-property="position"
        asp-fallback-test-value="absolute"
        asp-suppress-fallback-integrity="true" />
    </environment>
 
    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts",required:false);
    }
</body>
</html>
