@model WebAppDemo4._0.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>view</title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        Name : @Model.Name
    </div>
    <div>
        Gmail : @Model.Email
    </div>
    <div>
        Department : @Model.Department
    </div>
</body>
</html>