@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employees";
}
<body>
    <h3>@Model.PageTitle</h3>
    <div>
        Name : @Model.Employee.Name
    </div>
    <div>
        Gmail : @Model.Employee.Email
    </div>
    <div>
        Department : @Model.Employee.Department
    </div>
</body>
