@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Error not found</h4>
    <hr />
    <h5>Employee with Id = @Model Cannnot found</h5>

</div>
<a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>