@model IEnumerable<WebAppDemo4._0.Models.Employee>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>view</title>
</head>
<body>
   <table>
       <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Email</th>
               <th>Department</th>
           </tr>
       </thead>
       <tbody>
            @foreach(var Employee in Model)
            {
                <tr>
                    <td>@Employee.Id</td>
                    <td>@Employee.Name</td>
                    <td>@Employee.Email</td>
                    <td>@Employee.Department</td>
                </tr>
            }
        </tbody>
   </table>
</body>
</html>