@model IEnumerable<WebAppDemo4._0.Models.Employee>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employees";
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Employee in Model)
        {
            <tr>
                <td>@Employee.Id</td>
                <td>@Employee.Name</td>
                <td>@Employee.Email</td>
                <td>@Employee.Department</td>
            </tr>
        }
    </tbody>
</table>

